#define bg   #0d0c0c
#define fg   #fff5ed

#define blk  #0a0a0a
#define bblk #73645d
#define dred #e61f00
#define red  #ff3f3d
#define dgrn #6dd200
#define grn  #c1ff05
#define dylw #fa6800
#define ylw  #ffa726
#define dblu #225ae4
#define blu  #00ccff
#define dmag #ff0084
#define mag  #ff65a0
#define dcyn #36fcd3
#define cyn  #96ffe3
#define dwht #b6afab
#define wht  #fff5ed


*.dpi: 227


URxvt*depth:       32
URxvt*font:        xft:monaco:size=10
URxvt*boldFont:    xft:monaco:size=10
URxvt*scrollBar:   false
URxvt*letterSpace: -1
URxvt*lineSpace:   -1


rofi.font:            Source Code Pro Semibold 10
rofi.terminal:        termite --name floating
rofi.lines:           1
rofi.columns:         20
rofi.eh:              2
rofi.location:        2
rofi.width:           100
rofi.padding:         8
rofi.fullscreen:      false
rofi.opacity:         100
rofi.bw:              1
rofi.sidebar-mode:    false
rofi.separator-style: none
rofi.hide-scrollbar:  true
rofi.case-sensitive:  false
rofi.fuzzy:           false
rofi.color-enabled:   true

rofi.color-normal: bg, fg, bg, bg, blu
rofi.color-urgent: bg, fg, bg, bg, blu
rofi.color-active: bg, fg, bg, bg, blu
rofi.color-window: bg, red


*background:  bg
*foreground:  fg
*cursorColor: blu

*color0:      blk
*color8:      bblk
*color1:      dred
*color9:      red
*color2:      dgrn
*color10:     grn
*color3:      dylw
*color11:     ylw
*color4:      dblu
*color12:     blu
*color5:      dmag
*color13:     mag
*color6:      dcyn
*color14:     cyn
*color7:      dwht
*color15:     wht
